/*
global
*/
body {
	background-color: #f4f4f4;
	font-family: 微软雅黑,黑体,幼圆,宋体;
	color: #080808;
}
img.passive {
	width: 100%;
}
h5, h6 {
	font-family: 微软雅黑,黑体,幼圆,宋体;
}
input,textarea {
	font-family: 微软雅黑,黑体,幼圆,宋体 !important;
}
input[type="file"] {
	display: none;
}
div.clear {
	clear: both;
}
p.p_info {
	font-size: 15px;
	margin-top: 8px;
	margin-bottom: 8px;
	color: #7F8C8D;
}
p.p_song_title{
	font-size: 16px;
	font-weight: 600;
	font-family: 宋体;
}
p.p_song_content{
	font-size: 14px;
	font-family: 宋体;
}
p.p_song_link{
	font-size: 13px;
	font-family: 宋体;
	margin-left: 90px;
	margin-bottom: 0px;
}
span.danger {
	font-size: 13px;
	color: #E74C3C;
	min-width: 168px;
	height: 24px;
	display: block;
}
span.success {
	font-size: 13px;
	color: #2ECC71;
	min-width: 168px;
	height: 24px;
	display: block;
}
span.tag {
	margin-right: 3px;
	padding: 2px 8px 3px 8px;
	border-radius: 0px;
	font-size: 22px;
	font-weight: 500;
	color: #fff;
	cursor: default;
}
span.bg-primary {
	background-color: #1abc9c;
}
span.bg-danger {
  	background-color: #e74c3c;
}
span.bg-warning {
  	background-color: #f1c40f;
}
span.bg-purple {
  	background-color: #9b59b6;
}
img#back_to_top:hover {
	cursor: pointer;
}
hr {
	margin-top: 3px;
	margin-bottom: 3px;
	border-top: 1px solid #e0e0e0;
}

/*
header
*/
div#header {
	margin-bottom: 0px;
	height: 90px;
}
div#header input {
	background-color: #f4f4f4;
}
div#header>div{
	position: relative;
	float: left;
}
div#header span.input-search {
	background-color: #f4f4f4 !important;
}
div#header>div:nth-child(1) {
	width: 240px;
	margin-left: -50px;
}
div#header>div:nth-child(2) {
	width: 302px;
	margin-top: 25px;
	margin-left: 30px;
	margin-right: 30px;
}
div#header>div:nth-child(3) {
	height: 50px;
	width: 440px;
	margin-top: 15px;
}
div#header>div:nth-child(4) {
	width: 44px;
	margin-left: 20px;
	margin-top: 25px;
}

/*
navbar
*/
div#navbar {
	z-index: 100;
	width: 100%;
	padding-bottom: 0px;
}
div#navbar>div {
	margin-bottom: 0;
	height: 45px;
	padding: 0;
	border-radius: 0; 
	min-width: 1266px;
}
div#navbar img#user_headimg_thumb {
	height: 35px;
	width: 35px;
	margin-top: -7px;
	margin-right: 5px;
}

/*
body
*/
div#body {
	margin-top: 25px;
}
div#main {
	float: left;
	width: 772px;
	min-height: 400px;
	margin-right: 20px;
}
div#main>div {
	width: 772px;
}
div.main_title{
	padding: 5px 20px 5px 20px;
	background-color: #1ABC9C;
	margin-top: 25px;
	font-size: 23px;
	font-family: 微软雅黑,黑体,幼圆,宋体;
	color: #FFFFFF;
}
div#side {
	float: left;
	width: 264px;
}
p.side_title {
	color: #1ABC9C;
}
div.side_content {
	background-color: #ffffff;
	padding: 20px;
}
div#login_box {
	display: none;
}
div#login_box>button {
	position: relative;
	left: 15px;
	margin-top: -20px;
}
form#login_form>div.form-group{
	margin: 0px;
}
div#side>a:nth-of-type(1) {
	margin-bottom: 10px;
}
div#side>a:nth-of-type(2) {
	margin-bottom: 20px;
}
div#side_tags ul {
	margin-top: -1px;
}
p.side_tag{
	font-size: 17px;
	margin-bottom: 0;
}
p.side_tag:hover{
	cursor: pointer;
}
p.side_tagcon{
	font-size: 13px;
	font-family: 宋体;
	margin-bottom: 0px;
	color: #7F8C8D;
}

/*
register
*/
div#register_form {
	float: left;
	width: 400px !important;
}
div#register_form>p,div#register_alter>p {
	font-size: 22px;
}
div#register_form>form {
	width: 350px;
}
div#register_form>form>div.form-group{
	margin: 0px;
}
div#register_form>form input {
	background-color: #f4f4f4;
	width: 300px;
}
div#register_form>form span{
	width: 300px;
}
div#register_alter {
	float: left;
	margin-right: 132px;
	width: 240px !important;
}
div#register_alter img{
	margin-top: 15px;
}

div#info_img {
	float: left;
	width: 250px !important;
	margin-top: 50px;
	margin-right: 80px;
}
div#info_cont {
	float: left;
	margin-top: 50px;
	margin-right: 42px;
	width: 400px !important;
}
div#info_cont>p {
	font-size: 22px;
	margin-bottom: 30px;
}

/*
user
*/
div#user_header {
	height: 200px;
	margin-bottom: -22px;
}
div#user_header div#user_img{
	float: left;
	height: 200px;
	width: 200px;
}
div#user_header div#user_info{
	float: left;
	height: 200px;
	width: 462px;
	margin-left: 30px;
}
div#user_header div#user_edit{
	float: left;
	height: 200px;
	width: 80px;
}
div#user_header div#user_edit>a{
	width: 80px;
}
div#user_header p.user_name{
	font-size: 22px;
	margin-bottom: 0;
}
div#user_header p.user_name small{
	font-size: 14px;
	color: #666;
	margin-bottom: 3px;
}
div#user_header p.user_level{
	font-size: 15px;
	color: #999;
	margin-bottom: 3px;
}
div#user_header p.user_info{
	font-size: 17px;
	margin-bottom: 3px;
}
div#user_header p.user_post{
	font-size: 15px;
	color: #3498DB;
	margin-bottom: 3px;
}
div#user_header p.user_sign{
	font-family: 宋体;
	font-size: 15px;
	line-height: 1.4;
	color: #666;
	margin-top: 10px;
	margin-bottom: 3px;
}
div#user_tabs {
	height: 47px;
	margin-top: 45px;
	background-color: #f4f4f4;
}
div#user_panels {
	margin-top: -1px;
	min-height: 300px;
	border-top: none;
}
div#user_panels div.tab-pane{
	padding: 5px 30px 10px 30px;
}

div.sorry_box {
	height: 240px;
}
div.sorry_box>div:nth-child(1){
	float: left;
	margin: 20px;
	height: 200px;
	width: 200px;
}
div.sorry_box>div:nth-child(2){
	float: left;
	margin: 20px;
	height: 200px;
	width: 430px;
}
div.sorry_box p{
	font-size: 23px;
	margin: 20px;
}


/*
set
*/
div#set_tabs{
	float: left;
	width: 102px !important;
	margin-right: 17px;
}
div#set_panels{
	float: left;
	width: 653px !important;
}
div#set_panels>div>div {
	margin: 30px 40px 30px 40px;
}
div#set_panels p.set_title {
	font-family: 微软雅黑,黑体,幼圆,宋体;
	font-size: 20px;
}
div#set_panels div.set_content {
	width: 100%;
}
div#set_panels button.set_save {
	margin-top: 5px;
	margin-left: 450px;
	width: 110px;
}
div.set_table p.set_table_title {
	font-family: 宋体;
	font-size: 14px;
	color: #95A5A6;
}
div.set_table div.set_table_content {
	margin-left: 10px;
}
div.set_table_content div.set_row {
	margin-bottom: 10px;
}
div.set_row>div.set_label {
	float: left;
	width: 148px;
	padding-top: 8px;
}
div.set_row>div.set_input {
	float: left;
	width: 400px;
}
div.set_row>div.set_label>p {
	font-family: 微软雅黑,黑体,幼圆,宋体;
	font-size: 15px;
}
div.set_row>div.set_input input{
	width: 220px;
}
div.set_row>div.set_input textarea{
	width: 300px;
	resize: none;
}

div.set_table_content button#btn_upload_head {
	width: 110px;
	margin-bottom: 20px;
}
div#show_head img {
	width: 200px;
}
div#show_head div.jcrop-holder {
	background-color: white !important;
	float: left;
}
div#show_head div#view_img_box {
	float: left;
	width: 200px;
	height: 200px;
	margin-left: 50px;
	overflow: hidden;
}
div#show_head button#btn_save_head {
	margin-top: 30px;
	width: 110px;
}
div#show_head button#btn_cancel_head {
	margin-top: 30px;
	margin-left: 20px;
	width: 110px;"
}

div.set_row>label {
	margin-left: 20px;
	margin-bottom: 20px;
}
div.set_row>div.form-group {
	width: 250px;
	margin-left: 20px;
	margin-bottom: 10px;
}

div.set_table_content div#nick_color_box {
	height: 35px;
}
div.set_table_content>p.star_info {
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 30px;
}
div.colordis {
	float: left;
	height: 35px;
	width: 60px;
	text-align: center;
	color: #FFF;
	margin-bottom: 15px;
	margin-right: 15px;
}
div.colordis:nth-child(1) {
	background-color: #1abc9c;
}
div.colordis:nth-child(2) {
	background-color: #3498DB;
}
div.colordis:nth-child(3) {
	background-color: #E74C3C;
}
div.colordis:nth-child(4) {
	background-color: #F1C40F;
}
div.colordis:nth-child(5) {
	background-color: #9B59B6;
}

div#info_cont>form p{
	font-size: 20px;
}

/*
newpost
*/
div#post_box>div:not(:nth-child(1)) {
	display: none;
}
div#post_box>div {
	height: 310px;
}
div#post_box>div>div.post_img {
	float: left;
	width: 250px;
	margin-top: 50px;
	margin-right: 100px;
}
div#post_box>div>div.post_cont {
	float: left;
	margin-left: 30px;
	margin-top: 15px;
	margin-right: 42px;
	width: 350px;
}
div.post_cont>p {
	font-size: 20px;
	margin-bottom: 10px;
}
div.post_cont input {
	background-color: #f4f4f4;
	width: 220px;
	margin-bottom: 10px;
}
div.post_cont div.input-group {
	margin-bottom: 10px;
	width: 220px;
}
div.post_cont div.input-group-addon {
	font-family: "微软雅黑";
	font-size: 16px;
	background-color: #f4f4f4;
 	border: none;
  	border-radius: 0px;
}

div#post_box>div#newpost_type>div.post_cont {
	margin-top: 100px;
	margin-left: 0px;
	width: 380px;
}
div#post_box>div#newpost_type>div.post_cont>p {
	margin-bottom: 10px;
}

div#post_box>div#newpost_info>div.post_cont>p {
	margin-bottom: 10px;
}

div#post_box>div#newpost_price>div.post_cont {
	margin-top: 50px;
}
input#price {
	IME-MODE: disabled;
}

textarea#description {
	background-color: #f4f4f4;
	margin-bottom: 20px;
	width: 350px;
	resize: vertical;
}

div#post_box>div#newpost_picture>div.post_img {
	margin-right: 80px;
}
div#newpost_picture>div.post_img>div:nth-child(1) {
	cursor: pointer;
}
div#newpost_picture>div.post_img>div:nth-child(2) {
	display: none;
}
div#newpost_picture>div.post_img>div:nth-child(2)>p {
	font-size: 18px;
}
div#post_box>div#newpost_picture>div.post_cont {
	margin-top: 30px;
	margin-left: 0px;
	margin-right: 0px;
	width: 442px;
}
div#newpost_picture div#display_area {
	width: 472px;
	overflow:hidden
}
div.preview_box {
	margin-top: 10px;
	width: 472px;
	height: 147px;
}
div.preview_box>div:nth-child(1) {
	float: left;
	width: 147px;
	height: 147px;
}
div.preview_box>div:nth-child(2) {
	float: left;
	width: 270px;
	height: 147px;
}
div.preview_box>div>p {
	position: relative;
	top: -24px;
	color: white;
	text-align: center;
	background-color: #bdc3c7;
	filter:alpha(opacity=90); /*IE滤镜，透明度50%*/
	-moz-opacity:0.9; /*Firefox私有，透明度50%*/
	opacity:0.9;/*其他，透明度50%*/
}
div.preview_box>div:nth-child(1):hover {
	filter:alpha(opacity=80); /*IE滤镜，透明度50%*/
	-moz-opacity:0.8; /*Firefox私有，透明度50%*/
	opacity:0.8;/*其他，透明度50%*/
	cursor: pointer;
}
div.preview_box>div>textarea {
	background-color: #f4f4f4;
	resize: none;
}
div.preview_box>div>label {
	float: left;
	margin-left: 20px;
	margin-top: 15px;
}
div.preview_box>div>label span{
	background-color: #f4f4f4 !important;
}
div.preview_box>div>button {
	float: right;
}
div#upload_box {
	float: left;
	margin-top: 10px;
	height: 147px;
	width: 314px;
}
button#btn_upload_picture, button#btn_mobile_picture {
	float: left;
	background-color: none;
	width: 147px;
	height: 147px;
	font-size: 14px;
	margin-top: 0px;
	margin-right: 10px;
	color: #DDDDDD;
}
button#btn_mobile_picture {
	display: none;
}
button#btn_upload_picture span, button#btn_mobile_picture span {
	color: white;
	font-size: 20px;
}

div#newpost_cantact label {
	margin-left: 0px;
}

div#post_box>div#newpost_success>div.post_cont {
	margin-top: 80px;
	margin-left: 0px;
	width: 380px;
}

/*
viewpost
*/
div#post_directory {
	margin-top: -15px;
	height: 35px;
	width: 772px;
	font-size: 15px;
}
div#post_directory>ol {
	float: left;
	margin-bottom: 0px;
	padding: 0px;
}

div#post_author {
	height: 60px;
	width: 772px;
	margin-bottom: 15px;
}
div#post_author>div:nth-child(1) {
	float: left;
	height: 60px;
	width: 60px;
}
div#post_author>div:nth-child(2) {
	float: left;
	height: 60px;
	width: 712px;
	padding-left: 10px;
}
div#post_author img {
	height: 60px;
	width: 60px;
}
p.post_user_nick {
	font-size: 18px;
	margin-bottom: 0px;
}
small.post_user_school {
	margin-right: 10px;
	font-size: 15px;
	color: #7F8C8D;
}
small.post_user_date {
	font-size: 14px;
	color: #7F8C8D;
}
div#post_author div#post_collect_box {
	float: right;
	margin-top: 22px;
}
div#post_author p.p_post_close {
	color: red;
	font-size: 20px;
	display: inline;
}
p.p_post_section {
	color: #7F8C8D;
	margin-bottom: 30px;
}
p.p_post_content {
	color: #333;
	font-size: 18px;
}
div#post_content {
	height: 312px;
	width: 772px;
	margin-bottom: 30px;
}
div#post_content_left {
	float: left;
	height: 312px;
	width: 600px;
}
div#post_content_right {
	float: left;
	height: 312px;
	width: 172px;
}
div#post_content_right>div:nth-child(1) {
	height: 172px;
	width: 172px;
}
div#post_content_right>div:nth-child(2) {
	margin-top: 90px;
	height: 50px;
	width: 172px;
}
div#post_content_right>div:nth-child(2) p#p_post_deal {
	text-align: center;
	font-size: 30px;
	color: red;
}
div#post_description {
	width: 772px;
	padding-bottom: 30px;
}
button#btn_edit_description {
	display: none;
	float: right;
}
div#post_description pre{
	color: #333;
	font-size: 18px;
	font-family: 微软雅黑,黑体,幼圆,宋体;
	line-height: 2.5;
	margin: 0px;
}
div#post_editor {
	width: 772px;
	margin-bottom: 30px;
	display: none;
}
div#post_editor textarea {
	background-color: #f4f4f4;
	width: 772px;
	resize: vertical;
}
div#post_editor button#btn_confirm_edit_des {
	margin-top: 10px;
}
div#post_editor button#btn_cancel_edit_des {
	margin-top: 10px;
	margin-right: 10px;
}
div#post_picture {
	width: 772px;
	margin-bottom: 30px;
}
div#post_picture img {
	max-width: 772px;
}
div#post_picture pre.p_picture_des{
	color: #444;
	font-size: 17px;
	font-family: 微软雅黑,黑体,幼圆,宋体;
	margin-top: 0px;
	margin-bottom: 15px;
}
div#post_contact {
	width: 772px;
	margin-bottom: 30px;
}
div#post_share {
	width: 772px;
	height: 42px;
	margin-bottom: 30px;
}
div#post_share>div:nth-child(1) {
	float: left;
	height: 42px;
	margin-top: 5px;
}
div#post_share>div:nth-child(2) {
	float: right;
	height: 42px;
}
div#post_share>div:nth-child(2)>p {
	display: inline;
	font-family: 微软雅黑,黑体,幼圆,宋体;
	font-size: 25px;
	color: #444;
}
div#post_share>div:nth-child(2)>button {
	margin-top: -12px;
}
div#post_reply {
	width: 772px;
	margin-bottom: 30px;
}
div#post_doreply {
	width: 772px;
	margin-bottom: 60px;
}
div#post_doreply textarea {
	background-color: #f4f4f4;
	resize: vertical;
}
div#post_doreply blockquote {
	width: 300px;
}
div.reply_box {
	width: 772px;
	margin-bottom: 20px;
}
div.reply_header {
	width: 752px;
	height: 60px;
}
div.reply_header>div:nth-of-type(1) {
	float: left;
	height: 60px;
	width: 60px;
}
div.reply_header>div:nth-of-type(2) {
	float: left;
	height: 60px;
	width: 542px;
	padding-left: 10px;
}
div.reply_header>div:nth-of-type(3) {
	float: left;
	height: 60px;
	width: 150px;
}
div.reply_header>div:nth-of-type(3)>p{
	font-size: 18px;
	text-align: right;
	padding-right: 10px; 
}
div.reply_content {
	width: 752px;
	padding-top: 10px;
}
div.reply_content pre {
	font-family: 微软雅黑,黑体,幼圆,宋体;
	padding-left: 15px;
	font-size: 16px;
}
div.reply_content blockquote {
	border-left: 3px solid #16A085;
}
div.reply_content button.btn_report {
	float: right;
	display: none;

}
div.reply_footer p {
	text-align: right;
	font-family: 宋体;
	font-size: 15px;
	margin-top: 15px;
}
div.reply_footer hr{
	width: 50%;
	margin: 0px;
	margin-left: 50%;
}

div#side_view_box {
	top: 70px;
	width: 264px;
	padding-bottom: 10px;
}
div#side_view_header {
	margin-bottom: 10px;
}
div#side_view_header h6 {
	font-size: 18px;
	margin: 0px;
	margin-bottom: 10px;
}
div#side_view_header img.side_view_head {
	width: 40px;
	height: 40px;
}
div#side_view_header>div:nth-of-type(1) {
	float: left;
	width: 40px;
	height: 40px;
}
div#side_view_header>div:nth-of-type(2) {
	float: left;
	width: 175px;
	height: 40px;
	margin-left: 7px;
}
div#side_view_header>div:nth-of-type(2)>div{
	width: 175px;
	height: 20px;
	font-size: 14px;
}
div#side_view_header>div:nth-of-type(2)>a{
	font-size: 14px;
}
div#side_view_header>div:nth-of-type(2) small{
	font-size: 14px;
}
div#side_view_header>div:nth-of-type(2)>p{
	font-size: 14px;
	margin-bottom: 0px;
}
div#side_view_content {
	width: 240px;
	max-height: 350px;
	overflow-y: auto;
}
div#side_view_content p.p_post_content {
	font-size: 15px;
	margin-bottom: 3px;
}
div#side_view_content img {
	height: 100px;
	width: 100px;
}
div#side_view_footer button {
	float: right;
	margin-top: 5px;
}

/*
display
*/
div#category_selection_box {
	padding: 20px;
	border-color: #1abc9c;
}
div#category_selection_box ul li {
	margin-right: 10px;
}
div#category_selection_box ul li a {
	padding: 5px 10px;
	font-size: 16px;
}
div#btng_category1 {
	margin-bottom: 10px;
}
div#btng_category2 {
	height: 74px;
}
div#category_selection_box ul.nav-pills > li + li {
  	margin-left: 0px;
}
div#post_directory span {
	margin-right: 3px;
  	padding: 0px 6px 1px 6px;
  	border-radius: 0px;
  	font-size: 16px;
	font-weight: 500;
	color: #fff;
	background-color: #1abc9c;
	cursor: default;
}
div#post_directory li.breadwraper{
	width: 400px;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}

div#post_type_box {
	height: 47px;
}
div#post_type_box>div#ul_post_type {
	float: left;
}
div#post_type_box>div#btng_post_sorting {
	float: right;
	margin-right: 50px;
}
div#post_type_box>div#btng_post_display {
	float: right;
}
div#post_page_header {
	margin-top: -1px;
	height: 50px;
	margin-bottom: 0px;
}
div#post_page_header>div:nth-child(1) {
	font-size: 14px;
	padding-top: 15px;
	padding-left: 40px;
}
div#post_page_header>div:nth-child(2) {
	margin: 6px;
}
div#post_page_header>div:nth-child(2) li {
	margin: 0px;
}
div#post_page_header>div:nth-child(2) a {
	margin: 0px;
	border: none;
	padding: 10px 15px;
}

/*
display in line
*/
div#post_items_box {
	padding: 0px 15px 0px 15px;
}
div.post_item_box {
	margin: 10px 0px 10px 0px;
	width: 742px;
	height: 140px;
}
div.post_item_img {
	float: left;
	width: 140px;
	height: 140px;
}
div.post_item_img img{
	width: 140px;
	height: 140px;
}
div.post_item_content {
	float: left;
	width: 502px;
	height: 140px;
	padding-left: 10px;
	padding-right: 10px;
}
div.post_item_content>div:nth-child(1) {
	height: 30px;
	font-size: 18px;
	font-weight: bold;
	width: 482px;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	color: #16a085;
}
div.post_item_content>div:nth-child(1):hover {
	color: #1abc9c;
}
div.post_item_content>div:nth-child(1) span.tag {
	padding: 3px 8px 3px 8px;
  	border-radius: 0px;
  	font-size: 18px;
  	cursor: pointer;
}
div.post_item_content>div:nth-child(2) {
	height: 50px;
	font-size: 13px;
	width: 482px;
	color: #555;
	padding-top: 3px;
	padding-right: 20px; 
}
div.post_item_content>div:nth-child(3) {
	height: 60px;
	width: 482px;
}
div.post_item_content>div:nth-child(3)>div:nth-child(1) {
	height: 30px;
	width: 482px;
}
div.post_item_user_nick {
	height: 30px;
	float: left;
}
div.post_item_user_nick span {
	height: 30px;
	width: 30px;
}
div.post_item_user_need {
	min-width: 270px;
	height: 30px;
	float: left;
}
div.post_item_user_need button {
	display: none;
	padding: 5px 7px;
	font-size: 14px;
	margin-right: 10px;
}
div.post_item_content>div:nth-child(3)>div:nth-child(2) {
	height: 30px;
	width: 482px;
}
div.post_item_content>div:nth-child(3)>div:nth-child(2) span {
	font-size: 14px;
  	color: #7F8C8D;
  	overflow: hidden;
  	white-space: nowrap;
  	margin-top: 5px;
  	margin-right: 10px;
  	max-width: 175px;
}
div.post_item_price {
	float: left;
	width: 100px;
	height: 140px;
}
div.post_item_price>div:nth-child(1) img {
	width: 100px;
	height: 100px;
}
div.post_item_price>div:nth-child(2) {
	width: 100px;
	height: 40px;
	padding-top: 5px;
	font-size: 24px;
	color: red;
	text-align: center;
	overflow: hidden;
  	white-space: nowrap;
}











/*
footer
*/
div#footer {
	background-color: #f4f4f4;
}
div#footer_links {
	height: 35px;
	background-color: #1ABC9C;
	text-align: center;
	margin-bottom: 15px;
}
div#footer_address {
	padding-bottom: 0px;
	margin-bottom: 15px;
}
div#footer a.footer{
  	color: #FFFFFF;
}
div#footer a.footer:hover {
 	color: #DDDDDD;
}
p.footer_links{
	color: #FFFFFF;
	font-size: 14px;
	font-family: 微软雅黑,黑体,幼圆,宋体;
	margin-top: 5px;
}
p.footer_address{
	text-align: center;
	color: #222222;
	font-size: 14px;
	font-family: 宋体;
	font-weight: 500;
	margin-bottom: 0;
}

/*
modals
*/
div#choose_school>div {
	width: 650px;
}
div#info_modal>div {
	margin-top: 100px;
	width: 400px;
}

div#picture_modal>div {
	margin-top: 50px;
}
div#picture_modal div {
	width: auto;
	max-width: 800px;
	padding: 0px;
}


/*
others
*/
img#back_to_top {
	display: none;
	position: fixed;
	width: 50px;
	bottom: 50px;
	right: 50px;
}
a#ujian {
	border: 0;
}
a#ujian>img {
	border: 0;
	padding: 0;
	margin: 0;
}




















div#report_modal>div {
	width: 500px;
	margin-top: 70px;
}






div.rightpart2{
	position: relative;
	float: left;
	width: 772px;
}



div.postitembig{
	width: 772px;
	height: 136px;
}
div.postitembig img.postimage{
	position: relative;
	float: left;
	margin-top: 10px;
	width: 114px;
	height: 114px;
	margin-right: 15px;
	overflow: hidden;
}
div.postitembig div.postinfo{
	position: relative;
	float: left;
	width: 543px;
	height: 136px;
}
div.postitembig div.postquality{
	position: relative;
	float: left;
	width: 100px;
	height: 136px;
}
div.postitembig div.postquality img.quality{
	margin-top: -10px;
	height: 100px;
	width: 100px;
}
div.tableline{
	height: 50px;
}
div.tableleft{
	position: relative;
	float: left;
	width: 82px;
	padding-top: 6px;
}
div.tableright{
	position: relative;
	float: left;
	width: 446px;
}
div.textbookitem{
	position: relative;
	float: left;
	width: 200.5px;
	padding-left: 15px;
	padding-right: 15px;
}
div.userheader{
	width: 772px;
	height: 250px;
}
div.ujian-hook img{
	width: 110px !important;
	border-radius: 1px !important;
}
div.ujian-hook div{
	border-radius: 1px !important;
}
div.colordis{
	float: left;
	height: 35px;
	width: 60px;
	text-align: center;
	color: #FFF;
	margin-bottom: 15px;
	margin-right: 15px;
}
div.signwraper{
	height: 25px;
	width: 543px;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}
div.titlewraper{
	margin-top: 5px;
	width: 543px;
	height: 45px;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}


p.postaddress{
	font-family: 微软雅黑,黑体,幼圆,宋体;
	font-size: 20px;
	margin-left: 12px;
}
p.postuser{
	font-family: 宋体;
	margin-left: 12px;
	margin-bottom: 0;
	color: #808080;
}
p.postusersm{
	font-family: 宋体;
	font-size: 15px;
	color: #808080;
	margin-right: 5px;
}
p.postprice{
	font-family: 宋体;
	font-weight: 600;
	font-size: 24px;
	margin-top: 5px;
	margin-bottom: 0;
	color: #E74C3C;	
}
p.userschool{
	font-family: 微软雅黑,黑体,幼圆,宋体;
	font-size: 18px;
	margin-bottom: 2px;
}
p.userstat{
	font-family: 微软雅黑,黑体,幼圆,宋体;
	color: #3498DB;
	font-size: 15px;
	margin-bottom: 0;
}

norb.userlatest{
	font-family: 宋体;
	font-size: 13px;
	margin-bottom: 2px;
	margin-left: 5px;
	color: #808080;
}

p.tbtitle{
	color: #404040;
	font-size: 15px;
	font-weight: 500;
	margin: 0;
}
p.tbinfo{
	font-family: 宋体;
	font-size: 13px;
	color: #808080;
	margin-right: 5px;
}

p.postcon{
	font-family: 微软雅黑,黑体,幼圆,宋体;
	font-size: 15px;
}
p.replycon{
	font-family: 宋体;
	font-size: 14px;
	color: #95A5A6;
}

p.numinfo{
	margin: 5px 0 5px 20px;
	height: 25px;
}
a.commreport{
	margin-bottom: 0;
	font-family: 微软雅黑,黑体,幼圆,宋体;
	font-size: 12px;
	color: #E74C3C;
	display: none;
}
a.switch{
	color: #666666;
	font-size: 14px;
	font-family: 宋体;
	margin-left: 8px;
}
a.switch:hover {
	color: #000000;
}


a.posttitle{
	color: #404040;
	font-size: 24px;
	font-weight: 600;
	margin-top: 0;
}
a.posttitlesm{
	color: #404040;
	font-size: 15px;
	font-weight: 500;
	margin-top: 0;
}
span.check{
	font-size: 14px;
}
span.numinfo{
	margin: 5px 0 5px 20px;
	height: 25px;
	font-size: 14px;
}
