/*
global
*/
body {
	background-color: #f4f4f4;
	font-family: 微软雅黑,黑体,幼圆,宋体;
	color: #080808;
}
img.passive {
	width: 100%;
}
h6 {
	font-family: 微软雅黑,黑体,幼圆,宋体;
}
div.clear {
	clear: both;
}
p.p_info {
	font-size: 15px;
	margin-top: 8px;
	margin-bottom: 8px;
	color: #7F8C8D;
}
p.p_song_title{
	font-size: 16px;
	font-weight: 600;
	font-family: 宋体;
}
p.p_song_content{
	font-size: 14px;
	font-family: 宋体;
}
p.p_song_link{
	font-size: 13px;
	font-family: 宋体;
	margin-left: 90px;
	margin-bottom: 0px;
}
span.danger {
	font-size: 13px;
	color: #E74C3C;
	min-width: 168px;
	height: 24px;
	display: block;
}
span.success {
	font-size: 13px;
	color: #2ECC71;
	min-width: 168px;
	height: 24px;
	display: block;
}
#back_to_top:hover{
	cursor: pointer;
}

/*
header
*/
div#header {
	margin-bottom: 0px;
	height: 90px;
}
div#header input {
	background-color: #f4f4f4;
}
div#header>div{
	position: relative;
	float: left;
}
div#header span.input-search {
	background-color: #f4f4f4 !important;
}
div#header>div:nth-child(1) {
	width: 240px;
	margin-left: -50px;
}
div#header>div:nth-child(2) {
	width: 302px;
	margin-top: 25px;
	margin-left: 30px;
	margin-right: 30px;
}
div#header>div:nth-child(3) {
	height: 50px;
	width: 440px;
	margin-top: 15px;
}
div#header>div:nth-child(4) {
	width: 44px;
	margin-left: 20px;
	margin-top: 25px;
}

/*
navbar
*/
div#navbar {
	z-index: 100;
	width: 100%;
	padding-bottom: 0px;
}
div#navbar>div {
	margin-bottom: 0;
	height: 45px;
	padding: 0;
	border-radius: 0; 
	min-width: 1266px;
}
div#navbar img#user_headimg_thumb {
	height: 35px;
	width: 35px;
	margin-top: -7px;
	margin-right: 5px;
}

/*
body
*/
div#body {
	margin-top: 25px;
}
div#main {
	float: left;
	width: 772px;
	min-height: 400px;
	margin-right: 20px;
}
div#main>div {
	width: 772px;
}
div.main_title{
	padding: 5px 20px 5px 20px;
	background-color: #1ABC9C;
	margin-top: 25px;
	font-size: 23px;
	font-family: 微软雅黑,黑体,幼圆,宋体;
	color: #FFFFFF;
}
div#side {
	float: left;
	width: 264px;
}
p.side_title {
	color: #1ABC9C;
}
div.side_content {
	background-color: #ffffff;
	padding: 20px;
}
div#login_box {
	display: none;
}
div#login_box>button {
	position: relative;
	left: 15px;
	margin-top: -20px;
}
form#login_form>div.form-group{
	margin: 0px;
}
div#side>a:nth-of-type(1) {
	margin-bottom: 10px;
}
div#side>a:nth-of-type(2) {
	margin-bottom: 20px;
}
div#side_tags ul {
	margin-top: -1px;
}
p.side_tag{
	font-size: 17px;
	margin-bottom: 0;
}
p.side_tag:hover{
	cursor: pointer;
}
p.side_tagcon{
	font-size: 13px;
	font-family: 宋体;
	margin-bottom: 0px;
	color: #7F8C8D;
}

div#register_form {
	float: left;
	width: 400px !important;
}
div#register_form>p,div#register_alter>p {
	font-size: 22px;
}
div#register_form>form {
	width: 350px;
}
div#register_form>form>div.form-group{
	margin: 0px;
}
div#register_form>form input {
	background-color: #f4f4f4;
	width: 300px;
}
div#register_form>form span{
	width: 300px;
}
div#register_alter {
	float: left;
	margin-right: 132px;
	width: 240px !important;
}
div#register_alter img{
	margin-top: 15px;
}

div#info_img {
	float: left;
	width: 250px !important;
	margin-top: 50px;
	margin-right: 80px;
}
div#info_cont {
	float: left;
	margin-top: 50px;
	margin-right: 42px;
	width: 400px !important;
}
div#info_cont>p {
	font-size: 22px;
	margin-bottom: 30px;
}







/*
footer
*/
div#footer {
	background-color: #f4f4f4;
}
div#footer_links {
	height: 35px;
	background-color: #1ABC9C;
	text-align: center;
	margin-bottom: 15px;
}
div#footer_address {
	padding-bottom: 0px;
	margin-bottom: 15px;
}
div#footer a.footer{
  	color: #FFFFFF;
}
div#footer a.footer:hover {
 	color: #DDDDDD;
}
p.footer_links{
	color: #FFFFFF;
	font-size: 14px;
	font-family: 微软雅黑,黑体,幼圆,宋体;
	margin-top: 5px;
}
p.footer_address{
	color: #222222;
	font-size: 14px;
	font-family: 宋体;
	font-weight: 500;
	margin-bottom: 0;
}

/*
modals
*/
div#choose_school>div {
	width: 650px;
}


/*
others
*/
img#back_to_top {
	display: none;
	position: fixed;
	width: 50px;
	bottom: 20px;
	right: 20px;
}
a#ujian {
	border: 0;
}
a#ujian>img {
	border: 0;
	padding: 0;
	margin: 0;
}




















div#report_modal>div {
	width: 500px;
	margin-top: 70px;
}






div.rightpart2{
	position: relative;
	float: left;
	width: 772px;
}
div.leftchoose{
	position: relative;
	float: left;
	width: 122px;
	margin-right: 20px;
}
div.righttext{
	position: relative;
	float: left;
	padding-top: 30px;
	padding-bottom: 40px;
	padding-left: 40px;
	padding-right: 40px;
	width: 630px;
}
div.righttextall{
	position: relative;
	float: left;
	padding-top: 30px;
	padding-bottom: 40px;
	padding-left: 40px;
	padding-right: 323px;
	width: 913px;
}
div.righttext div.con{
	margin-left: 20px;
}


div.postitembig{
	width: 772px;
	height: 136px;
}
div.postitembig img.postimage{
	position: relative;
	float: left;
	margin-top: 10px;
	width: 114px;
	height: 114px;
	margin-right: 15px;
	overflow: hidden;
}
div.postitembig div.postinfo{
	position: relative;
	float: left;
	width: 543px;
	height: 136px;
}
div.postitembig div.postquality{
	position: relative;
	float: left;
	width: 100px;
	height: 136px;
}
div.postitembig div.postquality img.quality{
	margin-top: -10px;
	height: 100px;
	width: 100px;
}
div.tableline{
	height: 50px;
}
div.tableleft{
	position: relative;
	float: left;
	width: 82px;
	padding-top: 6px;
}
div.tableright{
	position: relative;
	float: left;
	width: 446px;
}
div.textbookitem{
	position: relative;
	float: left;
	width: 200.5px;
	padding-left: 15px;
	padding-right: 15px;
}
div.userheader{
	width: 772px;
	height: 250px;
}
div.ujian-hook img{
	width: 110px !important;
	border-radius: 1px !important;
}
div.ujian-hook div{
	border-radius: 1px !important;
}
div.colordis{
	position: relative;
	float: left;
	height: 35px;
	width: 60px;
	text-align: center;
	color: #FFF;
	margin-bottom: 15px;
	margin-right: 15px;
}
div.signwraper{
	height: 25px;
	width: 543px;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}
div.titlewraper{
	margin-top: 5px;
	width: 543px;
	height: 45px;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}
li.breadwraper{
	width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}

p.postaddress{
	font-family: 微软雅黑,黑体,幼圆,宋体;
	font-size: 20px;
	margin-left: 12px;
}
p.postuser{
	font-family: 宋体;
	margin-left: 12px;
	margin-bottom: 0;
	color: #808080;
}
p.postusersm{
	font-family: 宋体;
	font-size: 15px;
	color: #808080;
	margin-right: 5px;
}
p.postprice{
	font-family: 宋体;
	font-weight: 600;
	font-size: 24px;
	margin-top: 5px;
	margin-bottom: 0;
	color: #E74C3C;	
}
p.userschool{
	font-family: 微软雅黑,黑体,幼圆,宋体;
	font-size: 18px;
	margin-bottom: 2px;
}
p.userstat{
	font-family: 微软雅黑,黑体,幼圆,宋体;
	color: #3498DB;
	font-size: 15px;
	margin-bottom: 0;
}
p.postcontent{
	font-family: 微软雅黑,黑体,幼圆,宋体;
	color: #333;
	font-size: 18px;
}
norb.userlatest{
	font-family: 宋体;
	font-size: 13px;
	margin-bottom: 2px;
	margin-left: 5px;
	color: #808080;
}

p.tbtitle{
	color: #404040;
	font-size: 15px;
	font-weight: 500;
	margin: 0;
}
p.tbinfo{
	font-family: 宋体;
	font-size: 13px;
	color: #808080;
	margin-right: 5px;
}
p.title{
	font-family: 微软雅黑,黑体,幼圆,宋体;
	font-size: 20px;
}
p.con{
	font-family: 宋体;
	font-size: 14px;
	color: #95A5A6;
}
p.postcon{
	font-family: 微软雅黑,黑体,幼圆,宋体;
	font-size: 15px;
}
p.replycon{
	font-family: 宋体;
	font-size: 14px;
	color: #95A5A6;
}
p.username{
	font-family: 微软雅黑,黑体,幼圆,宋体;
	font-size: 22px;
	margin-bottom: 0;
}
p.username small{
	font-family: 微软雅黑,黑体,幼圆,宋体;
	font-size: 14px;
	color: #666;
	margin-bottom: 3px;
}
p.userlevel{
	font-family: 微软雅黑,黑体,幼圆,宋体;
	font-size: 15px;
	color: #999;
	margin-bottom: 3px;
}
p.userinfo{
	font-family: 微软雅黑,黑体,幼圆,宋体;
	font-size: 17px;
	margin-bottom: 3px;
}
p.usermark{
	font-family: 微软雅黑,黑体,幼圆,宋体;
	font-size: 15px;
	color: #3498DB;
	margin-bottom: 3px;
}
p.usersign{
	font-family: 宋体;
	font-size: 14px;
	color: #666;
	margin-bottom: 3px;
}
p.numinfo{
	margin: 5px 0 5px 20px;
	height: 25px;
}
a.commreport{
	margin-bottom: 0;
	font-family: 微软雅黑,黑体,幼圆,宋体;
	font-size: 12px;
	color: #E74C3C;
	display: none;
}
a.switch{
	color: #666666;
	font-size: 14px;
	font-family: 宋体;
	margin-left: 8px;
}
a.switch:hover {
	color: #000000;
}


a.posttitle{
	color: #404040;
	font-size: 24px;
	font-weight: 600;
	margin-top: 0;
}
a.posttitlesm{
	color: #404040;
	font-size: 15px;
	font-weight: 500;
	margin-top: 0;
}
span.check{
	font-size: 14px;
}
span.numinfo{
	margin: 5px 0 5px 20px;
	height: 25px;
	font-size: 14px;
}
